.header__menu__mobile {
    // display: none;
    width: 100%;
    
    ul {
        width: 100%;
        text-align: center;
        font-size: 1.6rem;
        list-style-type: none;

        li a {
            display: block;

            color: var(--textDark);
            text-decoration: none;

            margin: 2px 0;
            padding: 4px 0;

            transition: background-color 200ms linear;

            &:hover {
                background-color: rgb(226, 226, 226);
            }
        }
    }
}
