.main{
    &__shop{
        grid-area: article;
        width: 100%;
    }

    &__title{
        width: 100%;
        text-align: left;

        h1{
            font-size: 3.2rem;
            font-weight: 500;
            color: var(--colorMainLighten);
            border-bottom: 1px solid #E2DEDC;
        }
    }

    &__view{
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 2rem;

        &__options{
            padding: 0.8rem 0;

            span{
                font-size: 1.1rem;
                font-weight: 800;
                color: var(--textContent);
                text-transform: uppercase;

                margin-right: 1.2rem;
            }

            select{
                width: 17rem;
                
                border: 1px solid var(--colorBorder);
                border-radius: .5rem;

                padding: .4rem .8rem;
            }

            &--grid{
                input[type="radio"]{
                    appearance: none;
                }

                input[type="radio"]:checked + label svg{
                    fill: var(--secondColor);
                }

                label{
                    cursor: pointer;

                    &:last-of-type{
                        margin-left: 1.6rem;
                    }
                }

                label svg{
                    width: 3.2rem;
                    height: 3.2rem;
                    fill: var(--textContent);
                }
            }
        }
    }

    &__showcase{
        width: 100%;

        &--products{
            width: 100%;
            display: grid;
            gap: 4rem 2rem;
        }
    }
}