.header__search__mobile{
    display: flex;
    flex-direction: row;
    justify-content: center;

    input {
        width: 50%;
        max-width: 300px;
        height: 35px;
    }
    button {
        width: 25%;
        max-width: 150px;
        height: 35px;

        background-color: var(--colorMain);
        border: none;

        text-transform: uppercase;
        color: var(--textLight);
        font-weight: 800;
        font-size: 1.2rem;
    }
}