:root{
    --colorMain: #CB0D1F;
    --colorMainLighten: #ED1A39;
    --secondColor: #00A8A9;
    --headerTop: #231F20;
    --appBackground: #FFFFFF;
    --textLight: #FFFFFF;
    --textDark: #000000;
    --textContent: #808185;
    --textValue: #1E2B50;
    --colorBorder: #E2DEDC;
}

