$mobileSmall: 320px;
$mobileLarge: 768px;
$desktopSmall: 1024px;
$desktopLarge: 1440px;

@media (max-width: $desktopSmall) {//1024
    // Page home > component main
    .main__content {
        grid-template-columns: 2fr 6fr;
    }
    // component header
    .header {
        &__banner {
            &--logo {
                margin-right: 16px;
            }
        }

        &__menu ul li:not(:first-of-type) {
            margin-left: 24px;
        }
    }
}

@media (max-width: $mobileLarge) {//768
    //handle components
    .mobile-hidden{
        display: none;
    }
    .mobile-show{
        display: block
    }
    //Home page component main
    .main__content {
        display: flex !important;
        flex-direction: column-reverse;
    }
    .main__left__menu > ul {
        font-size: 1.6rem;
    }
    // component header
    .header {
        &__access{
            justify-content: center;
        }
        &__banner {
            justify-content: center;
            &--logo {
                margin-right: 0;
            }
        }
        // > menu
        &__menu {
            ul {
                justify-content: space-between;

                li {
                    margin: 0 !important;

                    a {
                        margin: 0;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    //shop grid
    .main{
        &__content{
            grid-template-columns: 1fr;
        }

        &__view__options{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            &--grid{
                display: none;
            }
        }

        &__showcase--products{
            grid-template-columns: 1fr 1fr !important;
        }
    }
    // component card
    .card{
        &__image{
            min-width: unset;
        }

        &__details{
            span{
                font-size: 1rem;
            }

            h2{
                font-size: 1.6rem;
            }
        }
        &__special{
            gap: unset;

            span{
                margin-right: 1%;
            }
        }
    }
    
}

@media (min-width: 769px){
    .desktop-hidden{
        display: none;
    }
}

