@import 'parameters';
@import 'responsive';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 62.5%;
    background-color: var(--appBackground);
}

.header,
.main,
.footer{
    &__container{
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 4%;
    }
    
    &__content{
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 8fr;
        grid-template-rows: 1fr;
        grid-template-areas: "aside article";
        gap: 2rem;
        padding: 2rem 0;
    }

    &__breadcrumb{
        width: 100%;
        text-align: left;

        margin: 2rem 0 0 0;

        ul{
            list-style-type: none;
            font-size: 1.4rem;

            li{
                display: inline;
                color: var(--secondColor);

                &:last-of-type{
                    color: var(--colorMain);
                }

                a{
                    color: var(--secondColor);
                    text-decoration: none;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}


