.main {
    width: 100%;

    &__center {
        grid-area: article;
    }

    &__banner {
        width: 100%;

        &--img {
            width: 100%;
            height: 22.5rem;

            background-color: #acacac;
        }
    }

    &__article {
        margin: 2rem 0;
        color: var(--textDark);
        font-weight: 500;

        &__text{
            font-weight: 500;
        }

        &--title {
            font-size: 2.6rem;
        }

        &--paragraph {
            font-size: 1.6rem;
        }
    }

    &__left {
        grid-area: aside;
        background-color: #e2dedc;
        min-width: 17rem;

        padding: 22px 16px;

        &__menu {
            ul {
                list-style-position: inside;
                font-size: 1.8rem;

                li > a {
                    text-decoration: none;
                    color: var(--textDark);
                }
            }
        }
    }
}
