.card{
    width: 100%;

    &__content{
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__image{
        width: 100%;
        min-width: 21rem;
        min-height: 25rem;
        border: 1px solid var(--colorBorder);

    }

    &__details{
        width: 100%;
        
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            font-size: 1.6rem;
            color: var(--textContent);

            min-height: 5.5rem;
            margin: .8rem 0 2.5rem;
        }

        h2{
            font-size: 2.1rem;
            color: var(--textValue);

            margin-bottom: 1rem;
        }
    }

    &__special{
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        
        h2{
            font-size: 2.1rem;
            color: var(--textValue);
        }
        
        span{
            text-decoration: line-through;
            font-size: 1.5rem;
            color: var(--textContent);
            margin-bottom: 1rem;
        }
    }

    &__buy{
        display: block;

        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.8rem;
        color: var(--textLight);

        width: 100%;
        max-width: 300px;
        padding: .8rem 0;

        background-color: var(--secondColor);
        transition: background-color 200ms ease;
        border-radius: 5px;

        &:hover{
            background-color: var(--colorMainLighten);
        }
    }
}