header {
    width: 100%;
}

.header {
    &__top {
        width: 100%;

        background-color: var(--headerTop);

        p {
            font-size: 1.4rem;
            font-weight: 300;
            color: var(--textLight);
        }

        a {
            color: var(--textLight);
            font-weight: 800;
        }
    }

    &__access {
        width: 100%;
        height: 3rem;

        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__middle {
        width: 100%;
        position: relative;
    }

    &__container {
        position: relative;
    }

    &__banner {
        width: 100%;
        padding: 2.4rem 0;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &--search {
            display: flex;
            flex-direction: row;
            align-items: center;

            input {
                width: 38rem;
                height: 4.5rem;

                font-size: 2.4rem;
                padding: 0 .8rem
            }
            button {
                width: 11rem;
                height: 4.5rem;

                background-color: var(--secondColor);
                transition: background-color 200ms ease;
                border: none;

                text-transform: uppercase;
                color: var(--textLight);
                font-weight: 800;
                font-size: 1.6rem;

                cursor: pointer;

                &:hover{
                    background-color: var(--colorMainLighten);
                }
            }
        }

        &--logo {
            img {
                width: 18.5rem;
                height: 5rem;
            }
        }
    }

    &__bottom {
        width: 100%;
        padding: 1.2rem 0;

        background-color: var(--colorMain);
        text-align: left;
    }

    &__menu {
        width: 100%;
        ul {
            list-style: none;

            display: flex;
            flex-direction: row;

            li {
                font-weight: 800;
                text-transform: uppercase;

                &:not(:first-of-type) {
                    margin-left: 6.4rem;
                }
                a {
                    font-size: 1.6rem;
                    color: var(--textLight);
                    text-decoration: none;
                    padding: 0.8rem;
                    margin-left: 1.6rem;
                }

                &:first-of-type a {
                    padding: 0.8rem 0.8rem 0.8rem 0;
                    margin: 0;
                }
            }
        }
        &__mobile--icon {
            position: absolute;
            top: 36px;
            left: 4%;

            width: 4rem;
            height: 4rem;

            cursor: pointer;
        }
    }

    &__search__mobile--icon {
        position: absolute;
        top: 36px;
        right: 4%;
        fill: var(--colorMain);

        width: 4rem;
        height: 4rem;

        cursor: pointer;
    }
}
