.filters {
    grid-area: aside;

    padding: 1.2rem .8rem 0 0;

    &__content {
        width: 100%;
        min-width: 16rem;
        min-height: 17rem;
        border: 1px solid var(--colorBorder);

        display: flex;
        flex-direction: column;

        padding: 1rem 0 0 1rem;

        h1 {
            font-size: 2.4rem;
            text-transform: uppercase;
            color: var(--colorMainLighten);

            margin-bottom: 0.8rem;
        }
    }

    &__types {
        min-height: 100px;

        ul {
            list-style: none;
            font-size: 1.6rem;
            color: var(--textContent);

            margin-bottom: 3.2rem;
            padding-left: 1.4rem;

            li {
                position: relative;
                &:not(:last-of-type){
                    margin-bottom: .6rem;
                }

                input[type="radio"] {
                    appearance: none;
                }

                label{
                    cursor: pointer;

                    &:hover{
                        text-decoration: underline;
                    }
                }

                label::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -12px;
                    width: 6px;
                    height: 6px;
                    border-radius: 6px;
                    background-color: var(--textContent);
                }

                input[type="radio"]:checked + label::before{
                    background-color: var(--secondColor);
                }
                input[type="radio"]:checked + label{
                    color: var(--secondColor);
                }
            }
        }
    }

    &__subtitles {
        text-transform: uppercase;
        font-size: 1.8rem;
        color: var(--textValue);

        padding: 0.4rem 0;
    }
}
